.footer-main{
    Display: flex;
    justify-content: center;
    padding-top: 80px;
    /* align-items: center; */
    padding-bottom: 10px;
}

label#footer-text{
    margin: 10px 0 0 0;
    font-size: 10px;
    font-family: 'Roboto';
    color: ivory;
}

#footer-icon{
    width: 40px;
    padding-right: 10px;
}